*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.contenedor{
  margin:20px auto;
  width:300px;
  height:1200px;
}

.bandera1{
  width:528px;
  height:300px;
  border:1px solid black;
}

.franja{
  width:132px;
  height: 100px;
}

.amarillo{
  background-color:yellow;
}

.azul{
  background-color:blue;
}

.roja{
  background-color:red;
}
